:root {
  --font-size-p: 24px;
  --font-size-postTitle: 28px;
  --font-size-h1: 60px;

  --font-line-p: 32px;
  --font-line-postTitle: 32px;
  --font-line-h1: 68px;

  --font-weight-h1: 600;
  --font-weight-p: 400;
  --font-weight-postTitle: 700;

  --search-icon-size: 24px;
  --like-dislike-icon-size: 32px;

  --main-bg-color: white;
  --second-bg-color: #e5e3e3;

  --main-text-color: black;
  --second-text-color: #6c6c6c;
}