.buttonTransition {
  border-radius: 60px;
  border: 2px solid black;
  padding: 14px 24px 12px;
  font-weight: var(--font-weight-p);
  font-size: 16px;
  line-height: 18.75px;
  display: block;
  transition: ease-in .1s;
}

.buttonTransition:hover {
  opacity: 0.8;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 780px) and (max-width: 1140px) {
  .buttonTransition {
    font-size: 13px;
    line-height: 15.75px;
    padding: 10px 20px 8px;
  }
}

@media screen and (min-width: 340px) and (max-width: 780px) {
  .buttonTransition {
    font-size: 8px;
    line-height: 12px;
    padding: 7px 14px 5px;
  }
}